@import '~@assets/css/define.styl';

.p-rank-page {
    padding: 20px 0;
    .p-list {
        padding: 20px 0;
        .p-item {
            .p-cover-wrap {
                .p-cover {
                    height: 90px;
                    
                }
            }
        }
    }
}