@import '~@assets/css/define.scss';

.p-rank-page {
    padding: 20px 0;
    .p-list {
        padding: 20px 0;
        .p-item {
            .p-cover-wrap {
                .p-cover {
                    font-size: 0;
                    .p-cover-bg {
                        height: 160px;
                    }
                }
            }
            .p-play-list {
                @include border();
                .p-name {
                    @include textOverflow();
                }
                .p-singer {
                    @include textOverflow();
                }
            }
        }
    }
}
