<div class="p-rank-page">
    <Card title="官方榜">
        <Grid :data="topList" class="p-list" verticalAxisPadding="40px" :columnCount="3">
            <div class="p-item" slot-scope="{ item }">
                <div class="p-cover-wrap">
                    <div class="p-cover">
                        <el-image class="p-cover-bg" fit="cover" :src="item.coverImgUrl"></el-image>
                    </div>
                </div>
                <div class="p-play-list">
                    <Table :data="item.playList.slice(0, 8)" :useHeader="false" @click="playListClick($event, item.playList)">
                        <TableCol name="音乐名称" field="name">
                            <div class="p-name"  slot-scope="{ idx, fieldData }">
                                {{ idx + 1 }}
                                {{ fieldData }}
                            </div>
                        </TableCol>
                        <TableCol name="歌手">
                            <template slot-scope="{ item }">
                                <div class="p-singer">
                                    <template v-for="(item, idx) in item.ar">
                                        {{ item.name }}
                                    </template>
                                </div>
                            </template>
                        </TableCol>
                    </Table>
                </div>
            </div>
        </Grid>
    </Card>
</div>
