@import '../../styles/define.scss';

$prefix: c-tabs;

.#{$prefix}{
    position: relative;
    display: inline-block;
    margin-bottom: -4px;
    &-line{
        height: 42px;
        line-height: 42px;
        color: #333;
        .#{$prefix}-item{
            float: left;
            cursor: pointer;
            padding: 0 20px;
            position: relative;
            &:hover{
                color: $primary-color;
            }
            &-active{
                color: $primary-color;
            }
            &-active::after{
                content: "";
                display: block;
                position: absolute;
                @include border(bottom, $primary-color, 2px);
                bottom: 0;
                width: 100%;
                left: 0;
            }
        }
    }
    &-card{
        @include clear();
        color: #333;
        font-size: 12px;
        .#{$prefix}-item{
            float: left;
            cursor: pointer;
            padding: 0 10px;
            position: relative;
            margin: 0 4px;
            @include border();
            border-bottom: none;
            height: 30px;
            line-height: 30px;
            &:hover{
                background: darken(#fff, 6);
            }
            &-active{
                color: $primary-color;
                @include border('', $primary-color);
                border-bottom: none;
                background: $primary-color !important;
                color: #fff;
            }
        }
    }
}
