@import '../../styles/define.scss';

$prefix: c-grid;

.#{$prefix}{
    &-row{
        display: grid;
    }
    &-col{
        &:first-child{
            margin-left: 0 !important;
        }
        img{
            width: 100%;
        }
    }
}
