@import '../../assets/css/global.scss';
.p-content{
    background: #f6f6f8;
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-top: 1px solid #e1e1e2;
    *div{
        display: inline-block;
        vertical-align: middle;
    }
    .p-ctrl{
        padding-left: 30px;
        .iconfont{
            color: $c_main;
            margin-right: 24px;
            font-size: 32px;
        }
    }
}