@import '../../assets/css/global.scss';
.p-play{
    background: #f6f6f8;
    height: 48px;
    line-height: 48px;
    width: 100%;
    border-top: 1px solid #e1e1e2;
    display: flex;
    flex-flow: row nowrap;

    /* 播放控制(停止，播放) */
    .p-ctrl{
        padding-left: 30px;
        .iconfont{
            color: $c_main;
            margin-right: 24px;
            font-size: 32px;
        }
    }

    /* 播放进度条 */
    .p-progress{
        width: calc(100% - 384px);
        transform: translateY(6px);
        .el-slider__button-wrapper{
            top: -22px !important;
            .el-slider__button{
                border-color: $c_main !important;
            }
        }
        .el-slider__runway{
            height: 4px !important;
            .el-slider__bar{
                height: 4px !important;
                background: $c_main !important;
            }
        }
    }

    /* 声音大小控制 */
    .p-sound-size{
        position: absolute;
        top: -100px;
        right: 0;

        .el-slider__button-wrapper{
            .el-slider__button{
                border-color: $c_main !important;
            }
        }
        .el-slider__runway{
            height: 120px !important;
            .el-slider__bar{
                background: $c_main !important;
            }
        }
    }
}
