<div class="p-play">
    <div class="p-ctrl">
        <span class="iconfont icon-previou"></span>
        <span class="iconfont" :class="$store.state.play.state ? 'icon-zanting' : 'icon-CombinedShape'" @click="playStateChange"></span>
        <span class="iconfont icon-next"></span>
    </div>
    <div class="p-progress">
        <el-slider v-model="playProgress"></el-slider>
    </div>
    <div class="p-sound-size">
        <el-slider v-model="soundSize" vertical height="200px">
        </el-slider>
    </div>
    <div class="p-play-model"></div>
    <div class="p-lyric"></div>
    <div class="p-play-list"></div>
    <audio :src="playUrl" @play="play" @pause="pause" controls autoplay ref="playCtrl" v-show="false"></audio>
   <!--  <progress-bar></progress-bar> -->
   
    
</div>