@import '../../styles/define.styl';

$prefix = c-card;

.{$prefix}{
    .c-title-wrap{
        border-bottom: 1px solid $border-color;
        $clear();
        line-height: 50px;
        .c-title{
            float: left;
        }
        .p-right-slot{
            float: right;
        }
    }
}