@import '~@assets/css/define.scss';

.w-play-list{
    height: 510px;
    padding: 0 !important;
    .w-tabs-card {
        text-align: center;
        padding-top: 10px;
        display: block;
        ul {
            display: inline-block;
        }
    }
}
