@import '../../assets/css/global.scss';
.p-content{
    background: $c_main;
    color: #cdc5d8;
    padding: 0 6px 0 10px;
    >div{
        display: inline-block;
    }
    .p-logo{
        i{
            font-size: 26px;
            position: relative;
            display: inline-block;
            width: 30px;
            &::before{
                position: absolute;
                top: -31px;
                left: 0;
            }
        }
        font-size: 16px;
        color: #FFF;
        line-height: 50px;
        height: 50px;
    }
    .p-right-box{
        float: right;
        padding-top: 15px;
        -webkit-app-region: no-drag;
        >div{
            float: left;
            margin-right: 22px;
            >*{
                display: inline-block;
                vertical-align: middle;
            }
            i{
                font-size: 16px;
                &:hover{
                    cursor: pointer;
                    color: #FFF;
                }
            }
        }
        .p-login{
            .icon-touxiang{
                margin-right: 4px;
                font-size: 23px;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: #e1e3e4;
                color: #FFF;
                text-align: center;
            }
        }
        .p-samll,.p-mini{
            i{
                font-size: 14px;
            }
        }
        .p-samll{
            i{
                font-size: 14px;
            }
        }
        .p-max{
            i{
                font-size: 22px;
                position: relative;
                width: 22px;
                height: 20px;
                &::before{
                    position: absolute;
                    top: -5px;
                    left: 0;
                }
            }
        }
        .p-close{
            margin-right: 0;
            i{
                font-size: 14px;
                font-weight: 800;
            }
        }
        .p-setting{
            border-right: 1px solid #666;
            padding-right: 18px;
        }
        .p-mini,.p-samll,.p-max,.p-close{
            margin-right: 8px;
        }
    }
}