<div :class="`${prefix}-wrap`">
    <div :class="`${prefix}-prefix`">
        <slot name="prefix"></slot>
    </div>
    <div :class="classes" ref="bar" @click="handleClick" @mouseenter="handleMouseenter" @mouseleave="handleMouseleave">
        <div :class="`${prefix}-bar`" ref="occupyBar">
           <div :class="`${prefix}-bar-ctrl`" @mousedown="ctrlMousedown"></div> 
        </div>
        <div :class="`${prefix}-tip`" v-if="(hoverTip || customTip)" v-show="showTip" ref="tip">
            <span v-if="!customTip">{{tipText}}</span>
            <slot else name="tip"></slot>        
        </div>
    </div>
    <div :class="`${prefix}-suffix`">
        <slot name="suffix"></slot>
    </div>
</div>
