<div class="p-music-detail">
    <!-- 缩小 -->
    <div class="p-mini clearfix" 
        @mouseenter="fullState = true" 
        @mouseleave="fullState = false" 
        v-show="!full"
        v-if="detail.al"
        @click="full=true">
        <div class="p-img-box">
            <img :src="detail.al.picUrl" alt="">
            <div class="p-full" v-show="fullState">
                <span class="iconfont icon-top-right-arrow"></span>
                <span class="iconfont icon-bottom-left-arrow-copy"></span>
            </div>
        </div>
        <div class="p-right">
            <p class="p-name">
                {{detail.name}}
            </p>
            <span class="p-singer">
                {{detail.ar[0].name}}
            </span>
        </div>
    </div>

    <!-- 放大 -->
    <transition name="fade">
        <div class="p-full" v-show="full" v-if="detail.al">
            <!-- 背景模糊 -->
            <div class="p-bg">
                <div>
                    <img :src="detail.al.picUrl">
                </div>
            </div>
            <!-- 内容 -->
            <div class="p-content clearfix">
                <button @click="full=false">小化</button>
                <div class="p-left-box">
                    <div class="p-cassette">
                        <img :src="detail.al.picUrl">
                    </div>
                </div>
                <div class="p-right-box">
                    <div class="p-song-info">
                        <p class="p-name">
                            <span>{{detail.name}}</span>
                            <p v-for="txt in detail.alia">{{txt}}</p>
                        </p>
                        <span class="p-album">
                           <!--  <span>专辑：哇哇学语兰之狗叫</span> -->
                           专辑：
                            <span>{{detail.al.name}}</span>
                        </span>
                        <span class="p-singer">
                            <!-- <span>歌手：兰兰</span> -->
                            歌手：
                            <span>{{detail.ar[0].name}}</span>
                        </span>
                        <!-- <span class="p-origin">来源:{{}}</span> -->
                    </div>
                    <div class="p-lyric">
                        <ul>
                            <li v-for="(item,index) in lyric">
                                {{item.lyr}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>