<div class="u-progress-bar">
    <!-- 资料 -->
    <div class="p-detail-box clearfix">
        <div class="p-img">
            <img :src="data.playlist.coverImgUrl" alt="">
        </div>
        <div class="p-detail">
            <div class="p-title clearfix">
                <span class="p-name">{{data.playlist.name}}</span>
                <div class="p-right">
                    <span class="clearfix">
                        <i class="iconfont icon-music"></i>{{data.playlist.trackCount}}
                    </span>
                    <span class="clearfix">
                        <i class="iconfont icon-weibiaoti-"></i>{{data.playlist.playCount}}
                    </span>
                </div>
            </div>
            <div class="p-creator">
                <div class="p-head-img">
                    <img :src="data.playlist.creator.avatarUrl" alt="">
                </div>
                <div class="p-create-people">
                    {{data.playlist.creator.nickname}}
                </div>
                <div class="p-create-time">
                    {{new Date(data.playlist.createTime).toLocaleString()}}创建
                </div>
            </div>
            <ul class="p-menu clearfix">
                <li>
                    <i class="iconfont icon-weibiaoti-"></i>
                    <span>播放全部</span>
                </li>
                <li>
                    <i class="iconfont icon-shoucang"></i>
                    <span>收藏</span>
                </li>
                <li>
                    <i class="iconfont icon-fenxiang1"></i>
                    <span>分享</span>
                </li>
                <li>
                    <i class="iconfont icon-xiazai"></i>
                    <span>下载全部</span>
                </li>
            </ul>
            <div class="p-tag">

            </div>
            <div class="p-synopsis">
                简介：{{data.playlist.description}}
            </div>
        </div>
    </div>

    <!-- 列表 -->
    <div class="p-list-box">
        <ul class="clearfix">
            <!-- 歌曲列表 -->
            <li class="p-list">
                <span :class="select==='list' && 'p-current'" @click="select='list'">歌曲列表</span>
                <div v-show="select==='list'">
                    <table class="p-table" cellspacing="0" cellpadding="0">
                        <tr>
                            <th></th>
                            <th>操作</th>
                            <th>音乐标题</th>
                            <th>歌手</th>
                            <th>专辑</th>
                            <th>时长</th>
                        </tr>
                        <tr :class="{'p-select': listSelect===index}" v-for="(item,index) in data.playlist.tracks" @click="listSelect=index" @dblclick="listDblClick(item)">
                            <td>
                                <div v-if="getPlay.id === item.id" class="p-play-state">
                                    <span class="iconfont icon-laba" v-if="getPlay.state===1"></span>
                                    <span class="iconfont icon-laba p-pause" v-else></span>
                                </div>
                                <div v-else>
                                    <span v-if="index+1 < 10">0</span>{{index+1}}
                                </div>
                            </td>
                            <td>
                                <span class="iconfont icon-xihuan"></span>
                                <span class="iconfont icon-xiazai"></span>
                            </td>
                            <td>{{item.name}}</td>
                            <td>{{item.ar[0].name}}</td>
                            <td>{{item.al.name}}</td>
                            <td>
                                <span v-if="item.dt/1000/60 < 10">0</span>{{parseInt(item.dt/1000/60)}}:
                                <span v-if="item.dt/1000%60 < 10">0</span>{{parseInt(item.dt/1000%60)}}</td>
                        </tr>
                    </table>
                </div>
            </li>

            <!-- 评论列表 -->
            <li class="p-comment-box">
                <span :class="select==='comment' && 'p-current'" @click="select='comment'">评论({{data.playlist.commentCount}})</span>
                <div  class="p-comment" v-show="select==='comment'">
                    <div class="p-hot-comment" v-show="hotComments.length">
                        <span class="p-title">精彩评论</span>
                        <ul>
                            <li class="clearfix" v-for="(item,index) in hotComments">
                                <div class="p-img-box">
                                    <img :src="item.user.avatarUrl" alt="">
                                </div>
                                <div class="p-content-box">
                                    <span class="p-name">{{item.user.nickname}}：</span>
                                    <span class="p-txt">{{item.content}}</span>
                                    <p class="p-time">{{new Date(item.time).toLocaleString()}}</p>
                                    <div p-options>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="p-new-comment" v-show="comments.length">
                        <span class="p-title">最新评论</span>
                            <ul>
                                <li class="clearfix" v-for="(item,index) in comments">
                                    <div class="p-img-box">
                                        <img :src="item.user.avatarUrl" alt="">
                                    </div>
                                    <div class="p-content-box">
                                        <span class="p-name">{{item.user.nickname}}：</span>
                                        <span class="p-txt">{{item.content}}</span>
                                        <p class="p-time">{{new Date(item.time).toLocaleString()}}</p>
                                        <div p-options>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                    </div>
                </div>
            </li>

            <!-- 收藏者列表 -->
            <li class="p-collect">
                <span :class="select==='collect' && 'p-current'" @click="select='collect'">收藏者</span>
                <div v-show="select==='collect'">

                </div>
            </li>
        </ul>
    </div>
</div>