<div class="p-home">
    <div class="p-title">
        <div class="p-logo">
            网易云音乐
        </div>
        <div class="p-search">
            <History class="p-history"></History>
            <Search />
        </div>
        <div class="p-menu">
            <Icon name="github" />
            <Icon name="envelope-o" />
            <Icon name="gear" />
            <Icon name="window-minimize" title="最小化" />
            <Icon name="window-maximize" title="最大化" />
            <Icon name="times" title="关闭" />
        </div>
    </div>

    <div class="p-main">
        <div class="p-nav">
            <dl v-for="item in navList">
                <dt class="p-classes">{{item.classesName}}</dt>
                <router-link v-if="menu.path" :to="menu.path" tag="dd" v-for="(menu, idx) in item.menus" class="p-menu" :key="idx">
                    <Icon :name="menu.icon"></Icon>
                    <span>{{menu.name}}</span>
                </router-link>
            </dl>
        </div>
        <div class="p-content">
            <!-- <p><a href="/#/example" rel="noopener noreferrer">example</a></p> -->
            <router-view></router-view>
        </div>
    </div>

    <div class="p-play-wrap">
        <div class="p-play-ctrl">
            <Button class="p-up" shape="circle" type="primary"><Icon name="step-backward" /></Button>
            <Button class="p-play" shape="circle" type="primary" @click="play = !play"><Icon :name="play ? 'play' : 'pause'"/></Button>
            <Button class="p-next" shape="circle" type="primary"><Icon name="step-forward"/></Button>
        </div>
        <div class="p-play-bar">
            {{playUrl}}
            <audio controls>
                <source src="http://m10.music.126.net/20181208131119/6b9be19ce508a0000710477a0e949564/ymusic/ts/free/4d43be5a93b6994b1b548868a0bb12f0.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>