<div class="p-home">
    <div class="p-title" v-if="showFrame">
        <div class="p-logo">
            网易云音乐
        </div>
        <div class="p-search">
            <History class="p-history"></History>
            <Search />
        </div>
        <div class="p-menu">
            <Icon name="github" @click.native="goGithubHome" />
            <Icon name="envelope-o" />
            <Icon name="gear" />
            <Icon name="window-minimize" @click.native="minimizeClick" title="最小化" />
            <Icon name="window-maximize" @click.native="maximizeClick" title="最大化" />
            <Icon name="times" @click.native="closeClick" title="关闭" />
        </div>
    </div>

    <div class="p-main">
        <div class="p-nav" v-if="showFrame">
            <Menu>
                <MenuGroup :title="item.classesName"  v-for="(item, idx) in navList" :key="idx">
                    <MenuItem v-for="(menu, idx) in item.menus" :key="idx">
                        <router-link :to="menu.path" tag="div">
                            <Icon :name="menu.icon"></Icon>
                            <span>{{menu.name}}</span>
                        </router-link>
                    </MenuItem>
                </MenuGroup>
            </Menu>
        </div>
        <div class="p-content">
            <router-link to="/example">
                <el-button class="example" circle type="primary">E</el-button>
            </router-link>
        
            <router-view></router-view>
        </div>
    </div>

    <PlayCtrl v-if="showFrame" />
</div>
