$primary-color = #c72e2e;
$body-color = #fff;

$border-color = #bfbfbf;

// 清除浮动
$clear() {
    &:after{
        content:"";
        display:block;
        clear:both;
        visibility:hidden;
        height:0
    }
}

// 移除隐藏
$textOverflow(line=1) {
    if(line) {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }else{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: line;
        overflow: hidden;
    }
}