<div class="p-home">
    <div class="p-title">
        <div class="p-logo">
            网易云音乐
        </div>
        <div class="p-search">
            <ButtonGroup class="p-record">
                <Button ghost>
                    <Icon name="chevron-left"></Icon>
                </Button>
                <Button ghost>
                    <Icon name="chevron-right"></Icon>
                </Button>
            </ButtonGroup>
            <Search />
        </div>
        <div class="p-menu">
            <Icon name="github"/>
            <Icon name="envelope-o" />
            <Icon name="gear"/>
            <Icon name="window-minimize" title="最小化"/>
            <Icon name="window-maximize" title="最大化"/>
            <Icon name="times" title="关闭"/>
        </div>
    </div>

    <div class="p-main">
        <div class="p-nav"></div>
        <div class="p-content"></div>
    </div>
</div>