@import '../../../assets/css/global.scss';

.p-native{
    text-align: center;
    border-bottom: 1px solid #e1e1e2;
    ul{
        display: inline-block;
        margin-bottom: -5px;
        li{
            float: left;
            width: 56px;
            height: 42px;
            line-height: 42px;
            color: #3b3b3b;
            font-size: 14px;
            list-style: none;
            margin-right: 30px;
            cursor: pointer;
        }
/*         li:last-child{
            margin-right: 0;
            color: $c_main;
        } */
        .p-select{
            color: $c_main;
            border-bottom: 2px solid $c_main;
        }
    }
}