@import '../../styles/define.styl';

$prefix = c-search;

.{$prefix}{
    max-width: 220px;
    display: inline-block;
    .c-input{
        height: 24px;
        border: none;
        input{
            background: rgba(0,0,0,.2);
            border-radius: (@height / 2);
        }
    }
}