@import '~@assets/css/define.scss';

.p-rank-page {
    padding: 20px 0;
    .p-list {
        padding: 20px 0;
        .p-item {
            .p-cover-wrap {
                .p-cover {
                    // background-color: opacify($color: $primary-color, $amount: 0.9);
                    .el-avatar {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
            .p-play-list {
                @include border();
            }
        }
    }
}
