<div class="p-rank-page">
    <Card title="官方榜">
        <Grid :data="topList" class="p-list" verticalAxisPadding="40px" :columnCount="3">
            <div class="p-item" slot-scope="{ item }">
                <div class="p-cover-wrap">
                    <div class="p-cover">
                        <el-avatar fit="cover" :src="item.coverImgUrl"></el-avatar>
                    </div>
                </div>
                <div class="p-play-list">
                    <ul>
                        <li class="p-play-item" v-for="(playItem, idx) in item.playList" :key="idx">
                            {{ playItem.name }}
                            {{ playItem.nickname }}
                        </li>
                    </ul>
                </div>
            </div>
        </Grid>
    </Card>
</div>
